@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');

* { 
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

p {
    font-family: 'IM Fell English SC', serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    font-family: 'MedievalSharp', cursive;
}

.input-field {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 0.1rem;
    font-size: 16px;
    margin-right: 1rem;
}

.submit-button {
    display: flex;
    flex-direction: column;
    height: 38px;
    background: #4dbecf;
    border: none;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: all .3s ease;
}

.submit-button > span {
    align-self: center;
    color: white;
    text-align: center;
}

.submit-button > span.send-msg {
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: .75s;
}
.submit-button.state-1 .send-msg {
    margin-top: -38px;
}
.submit-button.state-2 .send-msg {
    margin-top: -76px;
}

.submit-button.animated {
    animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.primary-button {
    background: #49E6D0;
    border: none;
    padding: 0.7rem;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.add-insult, .display-insults {
    margin: 2rem 0;
}

.input_fields {
    display: flex;
}

.display-insults {
    max-width: 800px;
    margin-top: 4rem;
}

.insults {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 2rem;
}

@keyframes short-press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 700px) {
    body {
        margin: 0.8rem;
    }
    .input_fields {
        flex-direction: column;
    }

    .input-field {
        margin-top: 1rem;
    }

    .submit-button {
        max-width: 90px;
        margin-top: 1.5rem;
    }
}